* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-inner-container {
  height: 80vh;
  width: 60%;
  border: 4px solid #6d396b;
  border-radius: 8px;
}
.list-center {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
